
.main-container {
  margin: 0 auto!important;
  padding: 1.25rem!important;
  display: flex!important;
}

.left-panel {
  background-color: #F4F4F4 !important;
  padding: 1.25rem !important;
  height: 100vh !important;
  width: auto !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
}

.ant-layout-sider {
  height: 100vh !important; /* Ensure full viewport height */
  background-color:#F4F4F4 !important; /* Set background color to white */
}
.continueWithGoogleButton,
.continueWithAppleButton {
  margin-bottom: 0.625rem!important;
}



.logologin,
.logo > svg {
  width: 1.6875rem!important;
  height: 1.7525rem!important;
}
.logomenu,
.logo > svg {
  width: 2.25rem;
height: 1.6875rem;
top: 0.625rem;
left: 1.0625rem;
gap: 0rem;
border: 0.0069rem 0rem 0rem 0rem;

}

.loginTitle {
  width:auto!important;
  height: 6rem!important;
  font-family: Manrope!important;
  font-size: 2rem!important;
  font-weight: 700!important;
  line-height: 3.5rem!important;
  letter-spacing: -0.0444rem!important;
  text-align: left!important;
  color: #0f172a !important;
}

.Descriptionlabel {
  font-size: 16px !important;
  line-height: 1.25rem !important;
  letter-spacing: 0.0088rem !important;
  font-family: manrope!important;
  color: #475569 !important;
  font-weight: bold!important;
}

.loginRightPanel {
  display: flex !important;
  flex-direction: column !important;
  height: 100% !important;
  justify-content: center !important;
  padding-left: 7.625rem !important;
  padding-right: 7.625rem !important;
  margin-left: 27.125rem !important;
}

.loginRightPanelTitle {
  font-size: 1.125rem !important;
  font-weight: 700 !important;
  line-height: 1.625rem !important;
  letter-spacing: 0rem !important;
  color: #0f172a !important;
}

.loginRightPanelSubtitle {
  margin-top: 0.125rem !important;
  font-size: 0.625rem !important;
  font-weight: 400 !important;
  line-height: 1.125rem !important;
  letter-spacing: 0.0131rem !important;
  color: #64748b !important;
  margin-bottom: 6.25rem !important;
}
.loginRightPanelSubtitle1 {
  margin-top: 0.125rem !important;
  font-size: 0.625rem !important;
  font-weight: 400 !important;
  line-height: 1.125rem !important;
  letter-spacing: 0.0131rem !important;
  color: #64748b !important;
  margin-bottom: 6.25rem !important;
}

.continueWithGoogleButton {
  width: 21.5625rem !important;
  font-size: 1rem !important;
  font-weight: 700 !important;
  line-height: 1.625rem !important;
  letter-spacing: 0.025rem !important;
  color: #0f172a !important;
  background: #ffffff !important;
  border: 0.0625rem solid #0f172a !important;
  padding: 0rem !important;
  height: 2.5rem !important;
  border-radius: 4.5rem !important;
  box-shadow: none !important;
}

.continueWithAppleButton {
  margin-top: 0.75rem !important;
  width: 21.5625rem !important;
  font-size: 1rem !important;
  font-weight: 700 !important;
  line-height: 1.625rem !important;
  letter-spacing: 0.025rem !important;
  color: #f1f5f9 !important;
  background: #000000 !important;
  border: 0.0625rem solid #0f172a !important;
  padding: 0rem !important;
  height: 2.5rem !important;
  border-radius: 4.5rem !important;
  box-shadow: none !important;
}

.continueWithGoogleButton .ant-btn-icon .anticon > svg {
  width: 1.125rem !important;
  height: 1.125rem !important;
}

.continueWithAppleButton .ant-btn-icon .anticon > svg {
  width: 1.125rem !important;
  height: 1.125rem !important;
  fill: white !important;
}

.menuLogo,
.menuLogo > svg {
  width: 4.125rem !important;
  height: 3.75rem !important;
  margin-bottom: 1.6875rem !important;
  align-self: center !important;
}
.menuLogo,
.menuLogo > svg {
  width: 4.125rem !important;
  height: 3.75rem !important;
  margin-bottom: 1.6875rem !important;
  align-self: center !important;
}

.middlePanel {
  display: flex !important;
  flex-direction: column !important;
  margin: 1.75rem !important;
}

.rightPanel {
  display: flex !important;
  flex-direction: column !important;
  background: #e8f1fe !important;
  width: 16.25rem !important;
  min-width: 16.25rem !important;
  max-width: 16.25rem !important;
}

.happythoughtsLabel {
  font-size: 1.4375rem !important;
  font-weight: 700 !important;
  line-height: 2rem !important;
  letter-spacing: -0.0444rem !important;
  color: #334155 !important;
  margin-bottom: 1.125rem !important;
}

.verifyKhojiDiv {
  display: flex !important;
  flex-direction: column !important;
  z-index: 1000 !important;
  margin-top: 2.875rem !important;
  margin-bottom: 2.875rem !important;
  margin-left: 2rem !important;
  margin-right: 2rem !important;
  position: absolute !important;
}

.verifyKhoji {
  font-size: 1.4375rem !important;
  font-weight: 700 !important;
  line-height: 2rem !important;
  letter-spacing: -0.0444rem !important;
  color: #475569 !important;
}

.verifyKhojiSubtitle {
  font-size: 0.6875rem !important;
  font-weight: 400 !important;
  line-height: 1.1875rem !important;
  letter-spacing: 0.0175rem !important;
  margin-top: 0.375rem !important;
  color: #475569 !important;
}

.verifyKhojiButton {
  margin-top: 3.75rem !important;
  padding-left: 1.375rem !important;
  padding-right: 1.375rem !important;
  background: #eb763c !important;
  height: 1.875rem !important;
  border-radius: 1.3125rem !important;
  border: none !important;
  align-self: baseline !important;
  font-family: "Nunito" !important;
  font-size: 0.625rem !important;
  font-weight: 800 !important;
  line-height: 0.875rem !important;
  letter-spacing: 0.02em !important;
  text-align: center !important;
  color: #fff !important;
}

.menuItemCard {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
  width: 10.75rem !important;
  height: 4.3125rem !important;
  cursor: pointer !important;
  position: relative !important;
}

.menuItemCardImage,
.menuItemCardImage > svg {
  width: 12.75rem !important;
  height: 4.6125rem !important;
}

.menuItemCardLabel {
  position: absolute !important;
  z-index: 1000 !important;
  font-size: 0.5625rem !important;
  font-weight: 700 !important;
  line-height: 0.9375rem !important;
  letter-spacing: 0.0088rem !important;
  color: #475569 !important;
  text-align: center !important;
  cursor: pointer !important;
}

.verifyKhojiMiddleDiv {
  display: flex !important;
  flex-direction: column !important;
  margin-top: 3.4375rem !important;
  margin-left: 27.125rem !important;
}

.verifyKhojiProfileVerifiedLabel {
  margin-top: 1.875rem !important;
  font-size: 1.0625rem !important;
  font-weight: 700 !important;
  line-height: 1.625rem !important;
  letter-spacing: 0rem !important;
  color: #0f172a !important;
}

.verifyKhojiProfileTitle {
  font-size: 0.625rem !important;
  font-weight: 400 !important;
  line-height: 1.0625rem !important;
  letter-spacing: 0.0131rem !important;
  color: #64748b !important;
}

.verifyKhojiProfileSubTitle {
  font-size: 0.5625rem !important;
  font-weight: 400 !important;
  line-height: 0.9375rem !important;
  letter-spacing: 0.0088rem !important;
  color: #64748b !important;
  margin-top: 1rem !important;
  margin-bottom: 1.625rem !important;
}

.userProfileImage {
  height: 4rem !important;
  width: 4rem !important;
  border-radius: 2rem !important;
  margin-left: 1.125rem !important;
  margin-top: 1.4375rem !important;
}

.userProfileVerifiedBadge {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  margin-left: 8rem !important;
  margin-top: 4.5rem !important;
}

.userProfileVerifiedBadgeLabel {
  font-size: 0.4375rem !important;
  font-weight: 400 !important;
  line-height: 0.6875rem !important;
  letter-spacing: 0.0088rem !important;
  color: #64748b !important;
}

.userProfileLeftCard {
  display: flex !important;
  flex-direction: column !important;
  height:  10.375rem !important;
  border-radius: 0.4375rem !important;
  position: relative !important;
  background: #f9f9f9 !important;
  margin-bottom: 0.75rem !important;
  width: 17.3125rem !important;
}

.userProfileRightCard {
  display: flex !important;
  flex-direction: column !important;
  height:10.375rem !important;
  border-radius: 0.4375rem !important;
  position: relative !important;
  background: #f9f9f9 !important;
  width: 17.3125rem !important;
  margin-bottom: 0.75rem !important;
  margin-left: 0.75rem !important;
}

.userProfilePlaceholderCard {
  width: 17.3125rem !important;
}
.userCardsContainer {
  display: flex;
  flex-direction: row;
}

.userCard {
  margin-right: 1rem; /* Adjust margin as needed */
}

.userProfileTopSection {
  position: absolute !important;
  top: 0rem !important;
  left: 0rem !important;
  right: 0rem !important;
  height: 4.125rem !important;
  background: #fdd8d8 !important;
  border-radius: 0.4375rem 0.4375rem 0rem 0rem !important;
}

.userProfileDash {
  margin-top: 1rem; /* Adjust margin as needed */
  margin-left: 1rem; /* Adjust margin as needed */
  font-size: 1.5rem; /* Adjust font size as needed */
}

.userNameLabel {
  margin-top: 0.375rem !important;
  font-size: 0.4375rem !important;
  font-weight: 700 !important;
  line-height: 0.625rem !important;
  letter-spacing: 0rem !important;
  color: #64748b !important;
}

.userProfileInfoTitle {
  font-size: 0.5 375rem !important;
  font-weight: 700 !important;
  line-height: 0.6875rem !important;
  letter-spacing: 0.0088rem !important;
  color: #64748b !important;
}

.userProfileInfoValue {
  font-size: 0.4375rem !important;
  font-weight: 400 !important;
  line-height: 0.6875rem !important;
  letter-spacing: 0.0088rem !important;
  color: #64748b !important;
}
.circularProgressDiv {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
}

.imageClass {
  max-width: 100% !important;
  padding-top: 1rem !important;
  height: auto !important;
}

.logo,
.logo > svg {
  width: 5.3125rem !important;
  height: 4.75rem !important;
}
.my-custom-steps {
  font-family: Manrope!important;
  color: #475569!important;
}


/* Styling for individual steps (optional) */
.my-custom-steps .step {
  width: calc((100% / 3) - 10px); /* Adjust width for each step */
  height: 100%; /* Ensure steps fill the height of the container */
  background-color: #f0f0f0; /* Example background color */
  border: 1px solid #ccc; /* Example border */
  box-sizing: border-box; /* Include border in width calculation */
}


.menuLogo,
.menuLogo > svg {
  width: 4.125rem !important;
  height: 3.75rem !important;
  margin-bottom: 1.6875rem !important;
  align-self: center !important;
}
.positionRelative {
  position: relative !important;
}
.displayFlex {
  display: flex !important;
}

.flexDirectionRow {
  flex-direction: row !important;
}

.flexDirectionColumn {
  flex-direction: column !important;
}
.fullWidth {
  width: 100% !important;
}

.fullHeight {
  height: 100% !important;
}

.alignItemsCenter {
  align-items: center !important;
}

.justifyContentCenter {
  justify-content: center !important;
}

.justifyContentSpaceBetween {
  justify-content: space-between !important;
}

.flex1 {
  flex: 1 !important;
}

.marginAuto {
  margin: auto !important;
}
.marginTop24 {
  margin-top: 1.5rem !important;
}

.marginRight12 {
  margin-right: 0.75rem !important;
}


.container {
  padding: 1rem!important; 
}


.verifyKhojiContainer {
  position: relative!important;
}


.verifyKhojiText {
  position: absolute!important;
  top: 50%!important;
  left: 50%!important;
  transform: translate(-50%, -50%)!important;
  text-align: center!important;
  color: #fff!important;
  z-index: 1!important;
  text-wrap: nowrap!important;
}

.verifyKhoji {
  font-size: 1.5rem!important;
  font-weight: bold!important;
  display: block!important;
  margin-bottom: 1rem!important; 
}

.verifyKhojiSubtitle {
  font-family: Manrope!important;
  font-size: 1rem!important;
  font-weight: 700!important;
  line-height: 1.4rem!important;
  letter-spacing: 0.0089rem!important;
  text-align: left!important;
}

.verifyKhojiButton {
  display: block!important;
  margin-top: 1rem!important; 
}

.verifyKhojiImage,
.verifyKhojiImage > svg {
  width: 33.75rem !important;
  height: 13.5625rem !important;
}

.container {
  display: flex!important;
  flex-direction: column!important;
  height: 100vh!important;
  overflow: hidden!important;
}


.topPart {
  flex: 1;
  width:"100vw"!important;
  background-color: #a6d4db!important;
  height: 12.6075rem!important;
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
  padding: 2rem!important;
}

.bottomPart {
  flex: 1;
  background-color: #ffffff!important;
  display: flex!important;
  flex-direction: column!important;
  justify-content: center!important;
  align-items: center!important;
  padding: 2rem!important;
}

.logoTitleWrapper {
  display: flex!important;
  align-items: center!important;
}
.loginRightPanel {
  display: flex !important;
  flex-direction: column !important;
  height: 100% !important;
  justify-content: center !important;
  padding-left: 7.625rem !important;
  padding-right: 7.625rem !important;
  margin-left: 27.125rem !important;
}

.loginRightPanelTitle {
  width: 4.6875rem!important;
  height: 2.125rem!important;
  left: 0.0625rem!important;
  gap: 0rem!important;
  color: #000000!important;
}

.loginRightPanelSubtitle {
  width: 21.6656rem!important;
  height: 1.9375rem!important;
  top: 2.8125rem!important;
  gap: 0rem!important;
  font-family: Manrope!important;
  font-size: 1.125rem!important;
  font-weight: 400!important;
  line-height: 1.9125rem!important;
  letter-spacing: 0.0133rem!important;
  text-align: left!important;
  color: #64748b!important;
}

.custom-menu {
  font-family: Manrope!important;
  font-size: 1rem!important;
  font-weight: 700!important;
  line-height: 1.225rem!important;
  letter-spacing: -0.0444rem!important;
  text-align: left!important;
  color: #52565d!important;
  margin-top: 2rem!important;
}
.center-steps {
  display: flex!important;
  justify-content: center!important;
  margin-top: 1.25rem!important;
 
}

/* Apply different styles for smaller screens (e.g., mobile) */
@media (max-width: 768px) {
  .center-steps {
    display: flex!important;
    flex-direction: row!important;
  }
  .addfamilymembercard {
    width: "60%"!important;
       height: "15.375rem"!important;
       justify-content:"center"!important;
   }

}

.addfamilymembercard {
 width: "90%"!important;
    height: "15.375rem"!important;
    justify-content:"center"!important;
}
.buttonsContainer {
  display: flex!important;
  flex-direction: column!important;
  gap: 0.0625rem!important; 
}

.logoTitleWrapper {
  display: flex!important;
  align-items: center!important;
}
.customs-steps .ant-steps-item-process > .ant-steps-item-icon {
  background-color: red!important;
}

.customs-steps .ant-steps-item-icon {
  background-color: black!important;
}
.steps-card {
  display: flex!important;
  align-items: center!important;
}

.vertical-line {
  border-left: 0.0625rem solid #000!important;
  height: 100%!important;
  margin-left: 0.5rem!important;
}
.infolabel {
  font-family: "Manrope"!important;
  font-size: "0.875rem"!important;
  font-weight: 400!important;
  line-height: "1.225rem"!important;
  letter-spacing: "-0.0444rem"!important;
  text-align: "left"!important;
  color: "#334155"!important;
}

.modelpopup {
  font-family: Manrope!important;
  font-size: 0.625rem!important;
  font-weight: 400!important;
  line-height: 0.875rem!important;
  letter-spacing: 0.009rem!important;
  text-align: left!important;
}
.enabled-card {
  border: 2px solid blue!important; 
}

.disabled-card {
  opacity: 0.5!important; 
  pointer-events: none!important; 
}
.vertical-line {
  border-left: 1px solid #ccc!important;
  height: 100%!important;
  margin-left: 10px!important; 
} 


.step-item.active .step-circle {
  background-color: black!important; 
}

.step-item.completed .step-circle {
  background-color: red!important;
}

.customs-step {
  display: flex!important;
}

.step-item {
  display: flex!important;
  align-items: center!important;
  position: relative!important;
}

.step-circle {
  width: 30px!important;
  height: 30px!important;
  border-radius: 50%!important;
  background-color: #000!important;
  color: #fff!important;
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
}

.vertical-line {
  border-left: 2px solid #ccc!important;
  position: absolute!important;
  top: 50%!important;
  height: calc(100% - 30px)!important;
  margin-left: 14px!important;
  transform: translateY(-50%)!important;
}

.userProfileLeftCards {
  display: flex !important;
  flex-direction: column !important;
  height: 15.375rem !important;
  border-radius: 0.4375rem !important;
  position: relative !important;
  background: #f9f9f9 !important;
  margin-bottom: 0.75rem !important;
  width: 17.3125rem !important;
  
}

.WelcomeLabel{
    margin-Top: 0.8rem!important;
    font-Size: 1.55rem!important;
    font-Weight: 700!important;
    line-Height: 2.45rem!important;
    letter-Spacing: -0.0444rem!important;
    text-Align: left!important;
  }
.viewstatusLabel{
  margin-Top: '1rem'!important;
  margin-Left: '33.5rem'!important; 

}
.StatusMessageLabel{
 display: 'flex'!important;
 flex-Direction: 'row',!important;
 justify-Content: 'center'!important;
 font-Weight: 'bold'!important;
 font-Size: '1.2rem'!important;
 
}
.ArrowLeftIcon{
font-Weight: 'bold'!important;
font-Size: '1rem'!important;
margin-Left: '3rem'!important;
margin-Top: '2rem' !important;
}
.EligibleLabel {
  margin-right: 1rem !important;
  font-weight: bolder !important;
  border: 1px solid black !important;
  padding: 0.5rem; /* Optional: Add padding to create space around the content */
  border-radius: 0.5rem; /* Adjust the value to control the border radius */
}
.menu-container {
  position: relative;
  /* Adjust other styles as needed */
}

.notification-modal {
  position: fixed;
  top: 50px; /* Adjust this value based on your menu height */
  right: 20px; /* Adjust this value for desired horizontal position */
  width: 300px; /* Adjust width as needed */
  overflow-y: auto;
}
.userProfileAvatar {
  width: 64px; 
  height: 64px; 
}

.avatarIcon {
  width: 100%; 
  height: 100%; 
  fill: #fff; 
}
.divider{
margin-top: "3rem"!important;
}
