html,
body {
  font-display: swap !important;
  font-weight: 400 !important;
  font-size: 1rem !important;
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  background-color: #f4f4f4 !important;
}

.mainContentWrapper {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  background-color: #f4f4f4 !important;
}



 
  @media screen and (max-width: 768px) {
    body {
      margin: 0 auto;
      padding: 0 20px;
      max-width: 100%;
    }


    .my-custom-steps {
      display: flex; 
      justify-content: space-between; 
      width: 16.5rem;
      height: 2.58rem;
      top: 11.4375rem;
      left: 3rem;
    }
    
    /* Styling for individual steps (optional) */
    .my-custom-steps .step {
      width: calc((100% / 3) - 10px); 
      height: 100%; 
      background-color: #f0f0f0; 
      border: 1px solid #ccc;
      box-sizing: border-box; 
    }
    
    .viewstatusLabel {
      text-align: left;
    }
    .loginTitle {
      font-size: 1.8rem !important;
      font-weight: 400 !important;
      line-height: 1.5rem !important;
      letter-spacing: 1px !important;
    }
    .logologin,
    .logo > svg {
      width: 4.6875rem!important;
      height: 4.7525rem!important;
      border: 0.0119rem 0rem 0rem 0rem!important;
    }
    .divider{
      margin-top: "12rem"!important;
    }
    .topPart {
      width:"auto"!important;
      background-color: #a6d4db!important;
      display: flex!important;
      justify-content: center!important;
      align-items: center!important;
      padding: 2rem!important;
    }
    .bottomPart {
      background-color: #ffffff!important;
      display: flex!important;
      flex-direction: column!important;
      justify-content: center!important;
      align-items: center!important;
    }
  }


/* For medium-sized screens */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  body {
    margin: 0 auto; 
    padding: 0 20px; 
    max-width: 90%; 
  }
}

/* For larger screens */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  body {
    margin: 0 auto; 
    padding: 0 20px; 
    max-width: 1440px; 
  }
}

/* For extra-large screens */
@media screen and (min-width: 1441px) {
  html,
  body {
    font-size: 1.5rem !important;
    background-color: #f4f4f4 !important;
  }
}
  /* Styles for screens wider than 1920px */
  @media (min-width: 1921px) {
    body {
      font-size: 24px;
    }
  }
  
  /* Styles for screens between 1441px and 1920px */
  @media (max-width: 1920px) and (min-width: 1441px) {
    body {
      font-size: 20px;
    }
  }
  
  /* Styles for screens between 1281px and 1440px */
  @media (max-width: 1440px) and (min-width: 1281px) {
    body {
      font-size: 18px;
    }
  }
