 html,
body {
  font-display: swap !important;
  font-weight: 400 !important;
  font-size: 1rem !important;
  width: 100% !important;
  margin: 0rem !important;
  padding: 0rem !important;
}

.mainContentWrapper {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  background-color: #fff !important;
} */

/* Media Queries for Ant Design breakpoints
@media screen and (max-width: 574px) {
  html,
  body {
    font-size: 0.875rem !important;
  }

  .mainContentWrapperBody {
    min-width: calc(100% - 2rem);
    max-width: calc(100% - 2rem);
  }
}

@media screen and (min-width: 576px) {
  html,
  body {
    font-size: 1rem !important;
  }

  .mainContentWrapperBody {
    min-width: calc(100% - 2rem);
    max-width: calc(100% - 2rem);
  }
}

@media screen and (min-width: 768px) {
  html,
  body {
    font-size: 1.125rem !important;
  }

  .mainContentWrapperBody {
    min-width: calc(100% - 2rem);
    max-width: calc(100% - 2rem);
  }
}

@media screen and (min-width: 992px) {
  html,
  body {
    font-size: 1.25rem !important;
  }

  .mainContentWrapperBody {
    min-width: calc(100% - 2rem);
    max-width: calc(100% - 2rem);
  }
}

@media screen and (min-width: 1200px) {
  html,
  body {
    font-size: 1.375rem !important;
  }

  .mainContentWrapperBody {
    min-width: calc(100% - 2rem);
    max-width: calc(100% - 2rem);
  }
}

@media screen and (min-width: 1600px) {
  html,
  body {
    font-size: 1.5rem !important;
  }

  .mainContentWrapperBody {
    min-width: calc(100% - 2rem);
    max-width: calc(100% - 2rem);
  }
} */
/* Set the base font size */
/* html {
  font-size: 16px;
}

Set the default font size */
body {
  font-size: 1rem; /* Equivalent to 16px */
}

/* For smaller screens */
@media screen and (max-width: 768px) {
  body {
      margin: 0 auto; /* Center the content */
      padding: 0 20px; /* Add some padding to the sides */
      max-width: 100%; /* Allow the content to take full width */
  }
}

/* For medium-sized screens */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  body {
      margin: 0 auto; /* Center the content */
      padding: 0 20px; /* Add some padding to the sides */
      max-width: 90%; /* Limit maximum width to 90% */
  }
}

/* For larger screens */
@media screen and (min-width: 1025px) {
  body {
      margin: 0 auto; /* Center the content */
      padding: 0 20px; /* Add some padding to the sides */
      max-width: 1440px; /* Limit maximum width to 1440px */
  }
}
